.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.header__hamburger-button {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__image {
    padding: 1em;
}

.menu-list {
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked~.container__label {
    background: var(--deep-blue-gradient);
}

.container__button:checked~.container__label > .menu-list {
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container__button:checked~.menu-list {
    display: block;
}

.menu-list__title,
.menu-list__item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list__title {
    color: var(--orange);
    font-weight: 700;
}

.menu-list__link {
    background: var(--deep-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.menu-list,
.container__button,
.container__title,
.options,
.container__text {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__title, .container__title-bold {
        font-family: var(--secondary-font);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: block;
    }

    .container__title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .options__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options__link {
        text-decoration: none;
        color: var(--black);
    }

    .container__image-transparent,
    .header__hamburger-button,
    .options__button {
        display: none;
    }

    .options__button:checked~.menu-list {
        display: block;
        width: auto;
    }

    .options__button:checked~.options__label>.options__item {
        background: var(--deep-blue-gradient);
        color: var(--white);
    }

    .options__item {
        padding: 2em 1em;
    }

    .menu-list__item:hover {
        background: var(--deep-blue-gradient);
        color: var(--white);
    }

    .menu-list__item:hover > .menu-list__link {
        -webkit-text-fill-color: var(--white);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
        margin: 0 1em;
    }

    .container__image {
        padding: 1em 0;
    }

    .container__text {
        display: block;
    }

    .header {
        padding: 0 2em;
    }

    .options {
        margin-right: auto;
    }
}
